
:root{
    --navi-text-width:1.25vw;
}
.hd{
    img{ max-width:100%; display: block; }
    a{ display: block;}
    span{ display: block;}
    li{ margin:0 calc(var(--navi-text-width) * .8 ) ; }
    .about{ width:calc( var(--navi-text-width) * 5 )}
    .portfolio{width:calc( var(--navi-text-width) * 5 )}
    .preinterview{width:calc( var(--navi-text-width) * 5 )}
    // .cloud{ left:0; top:0; transform: translate(-8%, -99%); right:0; }
 }


 div#gnb{
    width: 0% !important;
}
