:root {
  --navi-text-width:1.25vw;
}

.hd img {
  max-width: 100%;
  display: block;
}

.hd a {
  display: block;
}

.hd span {
  display: block;
}

.hd li {
  margin: 0 calc(var(--navi-text-width) * .8);
}

.hd .about {
  width: calc( var(--navi-text-width) * 5);
}

.hd .portfolio {
  width: calc( var(--navi-text-width) * 5);
}

.hd .preinterview {
  width: calc( var(--navi-text-width) * 5);
}

div#gnb {
  width: 0% !important;
}
